{%extends "base.html" %}

{%block tittle%}Iniciar Sesión{%endblock%}
{%block titulo%}{%endblock%}
{%block contenido%}

<form method="POST" action="/obras">
    <label for="username">Usuario:</label>
    <input type="text" name="username" id="username" required><br><br>
    
    <label for="password">Contraseña:</label>
    <input type="password" name="password" id="password" required><br><br>
    
    <input type="submit" value="Iniciar Sesión">
</form>


<br>
<br>
<br>

<br>
<br>
<br>
<br>

<br><br>
<br>
<br>

<br>





{%endblock%}

