{%extends "base.html" %}

{%block tittle%}Has iniciado sesion{%endblock%}
{%block titulo%}Has iniciado sesion{%endblock%}
{%block contenido%}



<h2>Tablas con permisos:</h2>
{% for tabla in tablas_con_permiso %}
    <a name="{{ tabla[0] }}"></a>
    <h3>Tabla "{{ tabla[0] }}":</h3>
    {% if contenido_tablas[tabla[0]] %}
        <table border="1">
            <thead>
                <tr>
                    {% for columna, valor in contenido_tablas[tabla[0]][0].items() %}
                        <th>{{ columna }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for fila in contenido_tablas[tabla[0]] %}
                    <tr>
                        {% for columna, valor in fila.items() %}
                            <td>{{ valor }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay datos disponibles en la tabla "{{ tabla[0] }}".</p>
    {% endif %}
{% endfor %}




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br><br>
<br>
<br>

<br>

{%endblock%}


