{%extends "base.html" %}

{%block tittle%}Has iniciado sesion{%endblock%}
{%block titulo%}Has iniciado sesion{%endblock%}
{%block contenido%}



{% if contenido_concierto %}
    <h2>Contenido de la tabla "concierto":</h2>
    <table border="1">
        <thead>
            <tr>
                {% for columna, valor in contenido_concierto[0].items() %}
                    <th>{{ columna }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for fila in contenido_concierto %}
                <tr>
                    {% for columna, valor in fila.items() %}
                        <td>{{ valor }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay datos disponibles en la tabla "concierto".</p>
{% endif %}


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br><br>
<br>
<br>

<br>

{%endblock%}


