{%extends "base.html" %}

{%block tittle%}Lista Personajes{%endblock%}
{%block titulo%}Lista Personajes{%endblock%}
{%block contenido%}



<table class="tabla">
  <thead>
      <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Detalle</th>
      </tr>
  </thead>
  <tbody>
      {% if personajes %}
        {% for personaje in personajes %}
          <tr>
              <td>{{ personaje.id }}</td>
              <td>{{ personaje.name }}</td>
              <td><a href="{{ url_for('detalle', personaje_id=personaje.id) }}">Detalle</a></td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3">No se encontraron juegos</td>
        </tr>
      {% endif %}
  </tbody>
</table>



{%endblock%}


